<mat-toolbar class="header">Explore Space</mat-toolbar>
<mat-sidenav-container class="container">
	<mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav">
		<mat-list>
			<mat-list-item routerLink="table" class="route-links">
				Table View
			</mat-list-item>
			<mat-list-item routerLink="board" class="route-links">
				Board View
			</mat-list-item>
		</mat-list>
	</mat-sidenav>

	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>